

#display-rules table,
#rules {
  float: left;
}

#rules {
  width: 200px;
}

#display-rules table {
  width: 580px;
  border: 1px solid black;
  border-spacing: 0;
}

#display-rules table th {
  background: #ffffd0;
  border-bottom: 1px solid #ccccc5;
}

#display-rules table td,
#display-rules table th {
  padding: 5px;
}

#display-rules table td {
  border-bottom: 1px solid #ccccc5;
  border-right: 1px solid #ccccc5;
}

hr {
  height: 2px;
  border-bottom: 1px solid #ccccc5;
}

.nice-button {
  padding:4px;
  margin:4px;
  text-shadow: rgba(255, 255, 255, 0.5) -1px 1px  0px;
  color:black;
  background-color:#b2b2b2;
  background-image: -moz-linear-gradient(top, #e5e5e5, #b2b2b2); /* FireFox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #b2b2b2),color-stop(1, #e5e5e5))    ;
  /* Safari4+, Chrome */
  -moz-border-radius: 4px; /* FireFox 1+ */
  -webkit-border-radius: 4px; /* Safari 3+, Chrome */
   border-radius: 4px; /* Opera 10.5, IE 9 */
  -webkit-box-shadow:-2px 2px 2px rgba(0, 0, 0, 0.5); /* Safari3.0+, Chrome */
  -moz-box-shadow:-2px 2px 2px rgba(0, 0, 0, 0.5); /* Firefox F3.5+ */
  box-shadow:-2px 2px 2px rgba(0, 0, 0, 0.5); /* Opera 10.5, IE 9.0 */
}


